<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Features</p>
    <ul>
        <li>User-friendly Interface: The web application provides an intuitive interface for users to input relevant data and receive predictions.

          
            </li>
        <li>  Parkinson's Disease Prediction: The machine learning model predicts the likelihood of Parkinson's disease based on input features.
            
             </li>
        <li>Data Visualization: The application presents visualizations to help users understand the prediction results.
        </li>
    </ul>
</body>
</html>